html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Do not write a css rule above here! Use the space below  */


/* Write your css below here */

/**** SMALLEST SCREEN FIRST ****/

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	line-height: 1.6;
	width: 100%;
	height: 100%;
	font-family: Lato, sans-serif;
	color: #0a0a23;
}

/* NAVIGATION */

nav {
	position: sticky;
	top: 0;
	font-size: 1.125rem;
}

.nav-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #0a0a23;
	padding: 8px 15px;
}

.nav-top-left {
	display: none;
    margin-left: 10px;
}

.search-bar {
	background-color: #3b3b4f;
	display: flex;
	align-items: center;
	width: 30vw;
	height: 25px;
}

.search-bar button {
	background-color: #3b3b4f;
	border: none;
	outline: none;
	margin-right: 5px;
	cursor: pointer;
	display: block;
}

.search-bar button svg {
	height: 15px;
	width: 15px;
	fill: #afafb7;
	margin: 0 10px;
}

.search-bar button svg:hover {
	background-color: #0a0a23;
}

input {
	background-color: inherit;
	border: none;
	outline: none;
	height: 100%;
	width: 100%;
	display: block;
}

input::placeholder {
	color: #afafb7;
	opacity: 1;
	font-size: 1.2rem;
}

.nav-top-center {
	order: -1;
}

.nav-top-center img {
	width: 100%;
	max-width: 200px;
	height: 100%;
	display: block;
}

.nav-top-right a {
	display: none;
	text-decoration: none;
	color: #fff;
	font-family: 'Roboto Mono', monospace;
	letter-spacing: 2px;
	padding: 7px 15px;
	margin-right: 19px;
}

.nav-top-right a:hover {
	color: #0a0a23;
	background-color: #fff;
	padding: 15px;
}

.nav-top-right button {
	background-image: linear-gradient(#fecc4c,#fbb54d);
    border: 3px solid #f1a02a;
	width: 6em;
	height: 1.5em;
	font-size: 1em;
	text-align: center;
	cursor: pointer;
}

.nav-bottom {
	background-color: #002ead;
	text-align: center;
	padding: 8px 6px;
}

.nav-bottom a {
	color: #fff;
	text-decoration: none;
	text-align: center;
	margin: auto;
	font-size: 0.9em;
	font-weight: bold;
	display: block;
}

.nav-bottom span {
	text-decoration: underline;
}

.nav-bottom span:hover {
	text-decoration: none;
}

/* HEADER */

header {
	background-color: #fff;
	line-height: 1.15;
	padding: 0 25px;
	margin: 35px auto;
	max-width: 1150px;
}

header span:first-child {
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: bold;
	color: #3B3B4F;
}

header a {
	color: #002ead;
	text-decoration: none;
}

header a:hover {
	text-decoration: underline;
}

header h1 {
	font-size: 1.8em;
	margin: 5px 0 25px;
}

header .writer {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

header .writer img {
	width: 60px;
	height: 60px;
	margin-right: 15px;
}

header .writer span {
	font-weight: bold;
	font-size: 1.15em;
}

.life {
	display: none;
}

.life img {
	width: 100%;
	height: 100%;
}

/* MAIN SECTION */

.container {
	padding: 0 25px;
	max-width: 1150px;
	margin: auto;
}

section h2 {
	font-size: 2rem;
	line-height: 1.3;
}

section h3 {
	font-size: 1.6rem;
}

main img {
	width: 100%;
	height: 100%;
}

.main-section {
	display: flex;
}

.primary {
	flex: 2;
	font-size: 1.188rem;
}

.primary p:first-of-type {
	font-size: 1.4rem;
}

.primary p {
	margin-bottom: 29px;
}

.primary strong {
	color: #1b1b32;
}

.primary code {
	background-color: #d0d0d5;
	color: #0a0a23;
	padding: 0 5px 2px;
	font-family: 'Roboto Mono', monospace;
	font-size: 15px;
}

.primary figure {
	margin: 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.primary figure img {
	max-width: 600px;
	max-height: 337px;
	margin-bottom: 10px;
}

.primary figcaption {
	font-size: 1rem;
	text-align: center;
}

.primary ul {
	list-style-type: disc;
	padding-left: 1.3rem;
	margin-bottom: 33px;
	font-size: 1.188rem;
}

.primary li {
	margin-bottom: 15px;
}

.introducing {
	display: block;
	margin-bottom: 29px;
	color: #0a0a23;
	font-weight: bold;
	font-size: .95em;
}

aside {
	flex: 1;
	display: none;
}

.secondary {
	font-size: 1.5rem;
}

.secondary .writer {
	display: flex;
	align-items: flex-start;
	border-top: 1px solid #e2e2e5;
	border-bottom: 1px solid #e2e2e5;
	padding: 60px 0;
	margin-bottom: 70px;
}

.secondary .writer img {
	width: 60px;
	height: 60px;
	margin-right: 15px;
}

.secondary .about-writer span {
	font-weight: bold;
	font-size: 1.2rem;
}

.secondary .about-writer p {
	font-size: 1rem;
	line-height: 1.25;
}

.secondary .tweet p {
	font-size: 1.3rem;
	margin-bottom: 40px;
}

.secondary .tweet button {
	font-size: inherit;
	border: 3px solid #0a0a23;
	background-color: #dfdfe2;
	padding: 3px 20px;
	display: inline-block;
	cursor: pointer;
}

.secondary .tweet button:hover {
	background-color: #0a0a23;
	color: #fff;
}

.advertisement {
	font-size: 0.875rem;
	text-align: center;
	color: #b5b5bd;
	margin-bottom: 10px;
}

.advertisement div {
	height: 200px;
	background-color: #fafafa;
	font-size: 1rem;
}

/* FOOTER */

.footer-container {
	padding: 40px;
	background-color: #EEEEF0;
	line-height: 2;
	font-size: 16px;
}

footer p {
	margin-bottom: 10px;
}

footer a {
	text-decoration: none;
	color: #0a0a23;
	display: block;
	margin-bottom: 5px;
}

.footer-top-left a {
	text-decoration: underline;
	display: initial;
}

.footer-top-left a:hover {
	text-decoration: none;
}

footer h5 {
	text-align: center;
	margin: 20px 0 10px;
}

.footer-bottom {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footer-bottom a {
	margin-right: 12px;
}

/***** MEDIA QUERIES *****/

@media screen and (width >= 500px) {

/* NAV */

	.nav-top-right a {
		display: initial;
	}

/* MAIN SECTION */

	.container {
		padding: 0 60px;
	}

/* FOOTER */

	footer {
		display: grid;
		grid-template-columns: repeat(12, auto);
		grid-template-rows: repeat(6, auto);
		column-gap: 35px;
	}

	.footer-top-left {
		grid-column: span 12;
		grid-row: span 1;
	}
	
	.trending {
		grid-column: span 12;
		grid-row: span 1;
	}
	
	.footer-top-right-1 {
		grid-column: span 6;
		grid-row: 3/4;
	}
	
	.footer-top-right-2 {
		grid-column: span 6;
		grid-row: 3/4;
	}
	
	.footer-top-right-3-a {
		grid-column: span 6;
		grid-row: 4/5;
	}
	
	.footer-top-right-3-b {
		grid-column: span 6;
		grid-row: 4/5;
	}
	
	.charity {
		grid-column: span 12;
		grid-row: span 1;
	}
	
	.footer-bottom {
		grid-column: span 12;
		grid-row: span 1;
	}
}

@media screen and (width >= 701px) {

/* HEADER */

	.hero {
		display: initial;
	}
}

@media screen and (width >= 800px) {

/* FOOTER */

	.footer-container {
		padding: 50px;
	}

	.footer-top-right-1 {
		grid-column: 1/5;
	}

	.footer-top-right-2 {
		grid-column: 5/9;
	}

	.footer-top-right-3-a {
		grid-column: 9/13;
		grid-row: 3/4;
	}

	.footer-top-right-3-b {
		grid-column: 9/13;
		grid-row: 3/4;
		margin-top: 185px;
	}
}

@media screen and (width >= 900px) {

	html {
		font-size: 18px;
	}

/* MAIN SECTION */

	aside {
		display: initial;
	}

	header,
	.container {
		padding: 0 50px;
	}
}

@media screen and (width >= 1000px) {

/* NAV */

	.nav-top-left {
		display: initial;
	}

	.nav-top-center {
		order: initial;
	}
}

@media screen and (width >= 1200px) {
/* FOOTER */

	.footer-container {
		padding: 100px 150px 35px;
	}

	footer {
		grid-template-rows: repeat(2, auto);
		margin: auto;
	}

	.footer-top-left {
		grid-column: span 6;
		grid-row: 1/2;
		margin-top: -40px;
		min-width: 300px;
	}
	
	.trending {
		grid-column: 9/11;
		grid-row: 1/2;
		margin-top: -40px;
	}
	
	.footer-top-right-1 {
		grid-column: 7/9;
		grid-row: 1/2;
		min-width: 200px;
	}
	
	.footer-top-right-2 {
		grid-column: 9/11;
		grid-row: 1/2;
		min-width: 200px;
	}
	
	.footer-top-right-3-a {
		grid-column: 11/13;
		grid-row: 1/2;
		min-width: 200px;
	}
	
	.footer-top-right-3-b {
		grid-column: 11/13;
		grid-row: 1/2;
		min-width: 200px;
	}
	
	.charity {
		display: none;
	}
	
	.footer-bottom {
		grid-column: span 12;
		grid-row: 2/3;
		border-top: 1px solid #b5b5bd;
		margin-top: 35px;
		padding-top: 35px;
	}
}